{% extends 'blog/main.html' %}

{% block main_section %}
  <h3>Стараница с контактами</h3>
{% endblock main_section %}

{% block aside_news_section %}
  <h5><b>НАШИ СЛУЖЕНИЯ:</b></h5>
  <h5> Воскресение:</h5>
  <h6>11:00 БОГОСЛУЖЕНИЕ</h6>
  <h5> Пятница:</h5>
  <h6>20:00 Группы по изучению Библии</h6>
  <h5>Суббота:</h5>
  <h6>20:00 Молитвенное служение</h6>
  <a href="https://itproger.com/news/1" target="_blank">
  <button class="btn btn-warning">Посмотреть</button>
{% endblock aside_news_section %}
